<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homework</title>
	<link rel="stylesheet" href="./assets/scss/main.scss">
	<script src="https://kit.fontawesome.com/6da2d512ce.js" crossorigin="anonymous"></script>

</head>

<body>

{% include './pages/home/home.njk' %}

<!-- Sifaa -->
{% include './shared/nav.njk' %}
{% include './shared/get-started.njk' %}
{% include './shared/info-cards.njk' %}
<!-- Muhammed -->
{% include './shared/features.njk' %}
{% include './shared/pricing.njk' %}
<!-- Abdurrahman  -->
{% include './shared/sponsores.njk' %}
{% include './shared/customer-review.njk' %}
<!-- bahaddin  -->
{% include './shared/subscribe.njk' %}
{% include './shared/footer.njk' %}
</body>
</html>
